$include-html-style: true !default;
$include-default-icons: false;
$include-form-sliders: false;
$include-floating-panels: true !default; // Most phone-based apps don't need overlays
$include-default-uis: true !default;
$include-highlights: true !default; // Can disable all theme-generated gradients, text-shadows, and box-shadows.

/* Define theme globals */
$body-bg-color: #FFF;
$page-bg-color: $body-bg-color;
$base-color: #FFF;
$base-gradient: 'glossy';
$alert-color: red !default;
$confirm-color: #e1d11d;
/*$confirm-color: #111;*/
/*$active-color: darken(saturate($base-color, 55%), 10%) !default;*/
$active-color: #111;

/* For list items, toolbars, etc. (acts as min-height) */
$global-row-height: 2.6em !default;

/* Include Sencha Touch styles */
@import 'sencha-touch/default/all';

/* Include selected style components - for a full list see sass/sencha-touch.scss */
@include sencha-panel;
@include sencha-buttons;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-carousel;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-form;
@include sencha-msgbox;
@include sencha-loading-spinner;

/* Include required icons */
@include pictos-iconmask('action');
@include pictos-iconmask('info');
@include pictos-iconmask('heart');
@include pictos-iconmask('user_list');
@include pictos-iconmask('refresh');
@include pictos-iconmask('play_black1');

/* Custom styling */
.x-panel {
    -webkit-backface-visibility: hidden;
}

body {
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
}

/* EXPLORE PANEL */
.land > * {
	height: 100%;
	width: 1px;
}

.vert > * {
	width: 100%;
	height: 1px;
}

.land {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch; 
	height: 705px;
}

.vert {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch; 
	height: 960px;
}

.column, .row, .explore-item, .thumbnail {
	-webkit-box-flex: 1;
}

.column {
	display: -webkit-box;
  	-webkit-box-align: stretch;
  	-webkit-box-orient: vertical;
}

.row {
	display: -webkit-box;
  	-webkit-box-align: stretch;
	-webkit-box-orient: horizontal;
}

.explore-item {
	display: -webkit-box;
  	-webkit-box-align: stretch;
	-webkit-box-orient: vertical;
	border-right: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
	text-align: center;
	padding: 20px;
}

.vert .explore-item {
	width: 50%;
}

.caption {
	-webkit-box-flex: 0;
}

.explore-item span {
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 11px;
}

span.fullname { font-size: 12px;}
span.course { color: #666; margin-top: 2px;}

.box {
	width: 160px;
	height: 160px;
	margin: 0 auto;
}

.box img {
	max-width: 160px;
	max-height: 160px;
}

/* Toolbars and Tabbars */
.x-toolbar .x-title {
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 4px;
}

.x-toolbar.x-docked-top {
	border-color: #ddd;
}

/* List popouts */
.x-floating.x-panel, .x-anchor {
	background-color: $active-color;
}

.explore-menu .x-panel-body {
	background: transparent;
}

/* contain lists within panel borders */
.x-list {
	width: auto !important;
}

/* PROFILE PANEL */
#profile-panel.x-landscape .profileimage {
	text-align: center;
}

/* display background images on profile carousel*/
@media only screen and (orientation:portrait){
   .profileimage {
   	width: 768px;
   	height: 1004px;
		background-size: contain;
		background-position: center;
   }
}

@media only screen and (orientation:landscape){
   .profileimage {
   	height: 748px;
   	width: 1024px;
		background-size: contain;
		background-position: center;
   }
}

.x-floating .x-panel-body .x-html {
	font-size: 14px;
}

.x-form-fieldset .x-panel-body {
	-webkit-border-radius: 0.4em;
	border-bottom: none;
}

.x-field {
	border: none;
}

.x-field > * {
	border-bottom: 1px solid #ddd;
}

/*.x-form-fieldset .x-field:first-child, , .x-form-fieldset .x-field:first-child > :last-child input, .x-form-fieldset .x-field:first-child > :last-child textarea {
	border: none;
	-webkit-border-radius: 0.4em !important;
}*/

.x-form-fieldset .x-field:first-child > :last-child {
	border-bottom-right-radius: 0.4em;
}

.x-form-fieldset .x-field:first-child > :first-child {
	border-bottom-left-radius: 0.4em;
}

.emailForm .x-toolbar {
    background: transparent;
    border: none;
}

#description h4 {
	font-weight: bold;
	font-size: 17px;
	text-shadow: white 0px 1px 1px;
}

#bottom-toolbar {
	background: none;
    background-image: none;
    background-color: $base-color;
	border-color: #ddd;
}

#bottom-toolbar .x-title {
	font-size: 11px;
}

.x-button.like {
	margin-top: -0.2em !important;
}

.x-button-pressed img.heart {
	background-image: none !important;
	background-color: #e11d2b !important;
}

#likeModal .x-inner {
	padding-top: 22px;
	text-align: center;
}

/* Video image & overlay */
.video {
    position: absolute;
	top: 102px;
    height: 360px;
    width: 100%;
	text-align: center;
}

.video .play {
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgba(0,0,0,.3) url('../images/play_white1.png') no-repeat center center;
}

.vimeo .play {
    width: 640px;
    height: 360px;
    margin-top: -180px;
    margin-left: -320px;
}

.youtube .play {
    width: 480px;
    height: 360px;
    margin-top: -180px;
    margin-left: -240px;
}

.loading {
  background: rgba(0,0,0,.3) url(../../../img/touch/loading.gif) center center no-repeat;
  display: block;
  width: 10em;
  height: 10em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -5em;
  margin-top: -5em;  
  -webkit-border-radius: .5em;
  color: #fff;
  text-shadow: #000 0 1px 1px;
  text-align: center;
  padding-top: 8em;
  font-weight: bold;
}